body {
    background-color: pink;
    color: navy;
    font-family: "Times New Roman", Times, serif;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  .h1 {
    border: 3px solid hotpink;
    color: navy;
    text-align: center;
  }